body {
  background-color: burlywood;
}
.App {
  background-color: chocolate;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#app-title {
  font-size: 30px;
}
