.footer {
  position: fixed;
  bottom: 30px;
  text-align: center;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #034f50;
  padding: 5px;
  box-shadow: 3px 3px #032121;
}

h1 {
  color: lightskyblue;
  font-size: 16px;
}

a {
  color: rgb(82, 82, 243);
  text-decoration: none;
}

.footer a :hover {
  font-size: 20px;
}

a :visited {
  color: rgb(82, 82, 243);
  text-decoration: none;
}
